{% extends 'Pan100MoodLogBundle:Default:index.html.twig' %}
{% block title %}Innlogging{% endblock %}
{% block body %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<h1>Stemningsdagboken</h1>
<hr>
<div class="container">
<div class="row">
<div class="span6">
<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div>
    	<label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
   		<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>
    <div>
	    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
	    <input type="password" id="password" name="_password" required="required" />
    </div>
    <div>
	    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
	</div>
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
</div>
<div class="span6">
    <!-- http://filipinobook.com/life/happy-angry/ -->
<img src="{{ asset('bundles/pan100moodlog/images/dices.jpg') }}">
</div>
</div>
</div>
{% endblock body %}
