<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Stemningsdagboken online - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% javascripts '@Pan100MoodLogBundle/Resources/public/js/jquery-1.9.1.min.js' '@Pan100MoodLogBundle/Resources/public/js/jquery.ui.datepicker-nb.js' '@Pan100MoodLogBundle/Resources/public/js/jquery.autoGrowInput.js' '@Pan100MoodLogBundle/Resources/public/js/jquery.tagedit.js' '@Pan100MoodLogBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block stylesheets %} 
        <link href="{{ asset('bundles/pan100moodlog/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/pan100moodlog/css/bootstrap-responsive.min.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        {% block scriptextras %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body><div class="container">
        {% block loggedInBar %}
            {% if is_granted('ROLE_USER')%}
            <nav><a href="{{ path('fos_user_security_logout') }}">trykk her for å logge ut</a></nav>
            {% endif %}
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </div>
    </body>
</html>