{% extends 'Pan100MoodLogBundle:Default:index.html.twig' %}

{% block title %}Rapport for {{user.username}}{% endblock %}

{% block scriptextras %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script type="text/javascript">
    {{ chart(chart) }}
      $(function() {
    $( "#accordion" ).accordion({ heightStyle: "content" });
  });
</script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"/>
<style>
@media print {    .ui-accordion .ui-accordion-content {        display:block !important;    }    }

.explanation {
  text-align: center;
}
.red {
  border: 2px solid red;
}
.orange {
  border: 2px solid orange;
}
.yellow {
  border: 2px solid yellow;
}
.green {
  border: 2px solid green;
}
</style>
{% endblock %}

{% block body %}
<h1>Rapport for {{user.username}}</h1>
<div id="chart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div id="explanation">
<h3>Forklaring av spekter:</h3>
Linjene viser grenser og er også implementert på søylen i appen som pasienten bruker:
<div class="explanation red">Mani</div>
<div class="explanation orange">Hypoman</div>
<div class="explanation yellow">Eufori</div>
<div class="explanation green">Normalt humør</div>
<div class="explanation yellow">Mild depresjon</div>
<div class="explanation orange">Moderat depresjon</div>
<div class="explanation red">Alvorlig depresjon</div>
</div>
<h2>Dagsrapporter, nyeste først:</h2>
<div id="accordion">
  {% for day in days %}
      <h3>{{day.date|format_date('eeee d. LLLL')}}</h3>
      {% if day is not null%}
      <div>
        {% if day.triggers is not empty %}
          <p><img src="{{ asset('bundles/pan100moodlog/images/trigger.png') }}" alt="Trigger icon" /> <em>Denne dagen har registrerte triggere:</em></p>
          <ul>
            {% for trigger in day.triggers %}
              <li>{{ trigger.triggertext }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        <p><em>Logget data:</em></p>
        <ul>
            <li>Høyeste humør: {% if day.moodHigh is not null %} {{ day.moodHigh-50 }} {% else %} ikke logget {% endif %}</li>
            <li>Laveste humør: {% if day.moodLow is not null %} {{ day.moodLow-50 }} {% else %} ikke logget {% endif %}</li>
            <li>Antall timer søvn natten før: {% if day.sleepHours is not null %} {{ day.sleepHours }} {% else %} ikke logget {% endif %}</li>
            <li><img src="{{ asset('bundles/pan100moodlog/images/medicine.png') }}" alt="Medicine icon" /> Medisiner</li>
            {% if day.medications is not empty %}
              <ul>
                {% for medicine in day.medications %}
                    <li>{{ medicine.name }} - {{ medicine.amountMg }} mg</li>
                {% endfor %}                  
              </ul>
              {% else %}
              Ingen medisiner loggført
            {% endif %}
        </ul>
        <p><em>Dagbok: </em>{{ day.diaryText }}</p>
      </div>
      {% else %}
      <div>ingen data</div>
    {% endif %}
      {% endfor %}
  </div>
{% endblock %}